$primary: #232323;
$secondary: #C2C2C2;
$white: #FFF;
$black: #000;
$box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.05);
$max-width: 2400px;

$cubic-bezier: cubic-bezier(0.87, 0.08, 0.19, 0.93);
$cubic-bezier-alt: cubic-bezier(.36,.97,.36,.97);

@font-face {
  font-family: 'SharpGroteskMedium09';
  src: url('../fonts/SharpGroteskMedium09.eot');
  src: url('../fonts/SharpGroteskMedium09.woff') format('woff'),
       url('../fonts/SharpGroteskMedium09.woff2') format('woff2')
}

@font-face {
  font-family: 'SharpGroteskMedium21';
  src: url('../fonts/SharpGroteskMedium21.eot');
  src: url('../fonts/SharpGroteskMedium21.woff') format('woff'),
       url('../fonts/SharpGroteskMedium21.woff2') format('woff2')
}

@font-face {
  font-family: 'GarnettRegular';
  src: url('../fonts/GarnettRegular.otf');
}
