@import 'variables';
@import 'mixins';

body {
  background-color: $primary;
  color: $white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  font-family: 'SharpGroteskMedium09', sans-serif;
  font-weight: normal;
  font-size: 16rem;
}

h2 {
  font-family: 'SharpGroteskMedium09', sans-serif;
  font-weight: normal;
  font-size: 8rem;
  margin-bottom: 0.5rem;
  transition: transform 0.25s ease, color 0.15s ease;
  transform: scaleX(1);
  transform-origin: left;

  &:hover {
    transform: scaleX(1.05);
    transition: transform 0.25s ease, color 0.15s ease;
    color: $secondary;
  }
}

h3 {
  font-family: 'SharpGroteskMedium21', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

p {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: $white;
}

.subtitle {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: lighter;
  // font-size: 18px;
  color: $secondary;
}

.page {
  padding: 7rem 7rem 1rem;
}

.letter {
  display: inline-block;
}

.header-subtitle {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: $secondary;
}

p {
  > span {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      color: $secondary;
    }
  }
}

.spotify-player {
  position: fixed;
  bottom: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: $white;
  color: $primary;
  border-radius: 60px;
  padding: 1rem 2rem;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  &.dark {
    color: $white;
    background-color: $primary;
    border: solid 1px $white;
  }

  &.has-subtitle {
    padding: 0.5rem 2rem 1rem;

    .subtitle {
      margin-top: 3px;
    }
  }

  &.reversed {
    &.has-subtitle {
      .subtitle {
        padding-left: 32px;
      }
    }

    .button-inner {
      flex-direction: row-reverse;

      img {
        margin: 3px 12px 0 0;
        transform: rotate(180deg);
      }
    }
  }

  .subtitle {
    font-size: 12px
  }

  .button-inner {
    display: flex;
    transition: transform 0.25s ease;
    transform: scaleX(1);
    transform-origin: left;

    h3 {
      margin: 0;
    }

    img {
      margin: 3px 0 0 12px;
      height: 16px;

      &.external-link {
        transform: rotate(-45deg);
      }
    }
  }
}

.menu {
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &.open {
    .menu-content {
      transition: transform 0.25s $cubic-bezier 0.01s, width 0.01s step-start 0s;
      width: 230px;
      transform: scaleY(1);

      .content-inner {
        transition: opacity 0.25s ease 0.25s;
        opacity: 1;
      }
    }
  }

  .menu-content {
    background-color: $white;
    color: $primary;
    border-radius: 22px;
    padding: 1rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    transition: transform 0.25s $cubic-bezier 0.15s, width 0.15s step-end 0.25s;
    transform: scaleY(0);
    transform-origin: bottom;
    box-shadow: $box-shadow;
    width: 0;

    .content-inner {
      opacity: 0;
      transition: opacity 0.25s ease 0s;

      .subtitle {
        font-size: 12px;
        margin-bottom: 10px;
        color: $primary;
      }

      a {
        color: $primary;
        text-decoration: none;

        h3 {
          transition: transform 0.25s ease;
          transform: scaleX(1);
          transform-origin: left;

          &:hover {
            transform: scaleX(1.1);
            transition: transform 0.25s ease;
            color: $black;
          }
        }

        &:last-child {
          h3 {
            margin: 0;
          }
        }
      }
    }
  }

  .menu-btn {
    background-color: $white;
    color: $primary;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: $box-shadow;

    .menu-icon {
      margin: 0;
    }
  }
}

.work-nav {
  display: flex;
  justify-content: center;
  margin: 6rem 0 -6rem;

  .button {
    margin-right: 1rem;
  }

  > a:only-child, > a:last-child {
    .button {
      margin-right: 0;
    }
  }
}

.section {
  > .subtitle {
    margin-bottom: 1rem;
  }
}

.index {
  .portrait {
    min-width: 60vw;
  }

  .portrait-mobile {
    display: none;
  }

  .about-section {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 36px;
    margin: 2rem 0 3rem;
  }

  .works-section {
    .work-list-item {
      &:hover {
        .work-detail {
          opacity: 1;
          transform: translateX(0);
        }
      }

      h2 {
        cursor: pointer;
        display: inline-block;
      }

      .work-detail {
        position: relative;
        margin-left: 3rem;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        opacity: 0;
        transform: translateX(-10%);
        transition: transform 0.25s $cubic-bezier, opacity 0.25s $cubic-bezier;

        > img {
          height: 6rem;
        }

        .work-detail-content {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          margin-left: 1rem;
        }
      }
    }

    .subtitle {
      margin-bottom: 1rem;
    }
  }

  .contact-section {
    .subtitle {
      margin-bottom: 25px;
    }

    .button {
      margin: 0 1rem 1rem 0;
    }
  }

  .section {
    margin-top: 5rem;
  }
}

.about {
  > p {
    font-size: 28px;
    font-weight: 100;
    line-height: 44px;
    margin: 4rem 0 3rem;
  }

  .album-section {
    margin: 5rem 0;

    .album-section-inner {
      display: flex;
      margin-top: 1.5rem;

      .about-album {
        margin-right: 3rem;

        h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
          font-size: 14px;
          color: $secondary;
        }
      }
    }
  }
}

.works {
  .works-container {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    .work-item {
      img {
        max-width: 450px;
      }

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: $secondary;
      }
    }
  }
}

.work {
  .header-img {
    width: 100%;
    height: 18rem;
    background-size: cover;
    background-position: center;
    margin: 4rem auto 5rem;
  }

  .subtitle {
    color: $secondary;
  }

  p {
    font-size: 24px;
    font-weight: 100;
    line-height: 38px;
    margin: 1.5rem 0 3rem;
  }

  .work-about-focus-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3rem;

    > .subtitle {
      min-width: 12rem;
      line-height: 38px;
    }

    > p {
      margin: 0;
    }
  }

  .work-image-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    > img {
      max-width: 48%;
    }
  }
}

.copyright {
  margin: 10rem 0 1rem;
  text-align: center;

  h3 {
    font-size: 0.75rem;

    > span {
      font-family: Helvetica, sans-serif;
      font-weight: lighter;
    }
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 12rem;
  }

  h2 {
    font-size: 6rem;
  }

  .page {
    padding: 7rem 4rem 1rem;
  }

  .menu {
    right: 2rem;
  }

  .index {
    .portrait {
      display: none;
    }

    .portrait-mobile {
      display: block;
    }

    .works-section {
      .work-list-item {
        .work-detail {
          display: none;
        }
      }
    }
  }

  .works {
    .works-container {
      .work-item {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 10rem;
    margin-top: 10px;
  }

  h2 {
    font-size: 5rem;
  }

  .work-nav {
    flex-direction: column;
    align-items: center;

    .button {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  .index {
    .about-section {
      font-size: 22px;
    }
  }

  .work {
    .header-img {
      height: 12rem;
      margin-bottom: 4rem;
    }

    p {
      font-size: 20px;
      line-height: 32px;
    }

    .work-about-focus-section {
      align-items: flex-start;

      > .subtitle {
        min-width: 6rem;
        line-height: 32px;
      }
    }

    .work-image-section {
      flex-direction: column;
      margin: 0;

      img {
        max-width: 100%;
      }
    }
  }

  .about {
    > p {
      font-size: 22px;
      line-height: 36px;
    }

    .album-section {
      .album-section-inner {
        flex-direction: column;

        .about-album {
          margin: 0 0 4rem;
        }
      }
    }
  }

  .works {
    .works-container {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 8rem;
    margin-top: 10px;
  }

  h2 {
    font-size: 4rem;
  }

  .page {
    padding: 7rem 2rem 1rem;
  }
}
